#menu_sinistra{
    position: sticky;
    top:30px;
}

#playlist{
    position: sticky;
    top:250px;
}

#amico_head{
    position: sticky;
    top:30px;
}

#amico_contenitore{
    position: sticky;
    top:100px;
}

#annunci .card{
    background-color: $antracite;
    color: $bianco;
}
