// #center {
//     background-color: #121212;
// }


.bottoni {
    .play {
        font-size: 32px;

     

    }
}
    .hide {
       display: none;
     
    }
        a {
         
            font-size: 20px;
            padding: 15px;
        

           &:hover+.hide {
                display:inline;
              
                background-color: #121212;
                color: white;
                width: 50px;

            }
        }



    table {
   
        tr {   
              color: white;
            &:hover {
                background-color: #312b29;

            }
            
           td{
           
            img{
                width: 40px;
               margin-left:4px ;
       
            }
           }
            

             /*  tr + .hide{
            display: block;
            color: white;
                }*/
            #cantanteCanzoneAlbum {

                &:hover {
                    text-decoration: underline;

                }

            }

        }

    }