.loginP {
    font-weight: 700;
    text-align: center;
}
.form-label{
    font-weight: 700;
}
.passwordReset{
    font-weight: 400;
}
.bottoni {
    margin:-20px;
}
.contenitore{
    padding: 0;
    border: 0;
    margin-top: -5px solid black;
}
.linea{
    margin: 1px solid black;
}